{{#each data}}
<div class="catalogue-item">
  <div class="image-wrapper">
    <img src="{{this.image}}">
  </div>
  <div class="title">{{this.name}}</div>
  <div class="assign-traits-link" data-id="{{this.id}}"><span>Привязать характеристики</span></div>
  <div class="price">{{this.price}} {{this.currency.title}}</div>
</div>
{{/each}}
